journals/cache/*

morepress.unizd.hr-access_log

morepress.unizd.hr-error_log

.htaccess

journals/config.inc.php

journals/public/*

piwik/*

piwik/tmp/*

piwik/tmp/cache/tracker/eagercache-301-tracker.php

books/config.inc.php

books/public/*

books/cache/*

books/docs/*
