<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteCond %{REQUEST_URI} ^/casopisi/?$
RewriteRule ^(.*) https://morepress.unizd.hr/journals [R,L]
</IfModule>
